@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<doancsn.Models.Discount>

@{
    ViewData["Title"] = "Index";
    Layout = "_Admin";
}

<h1>Giảm giá</h1>

<p>
    <a asp-action="DiscountsCreate">Thêm mới khuyến mãi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amout)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDay)
                </td>
                <td>
                    <a asp-action="DiscountsEdit" asp-route-id="@item.Id">Sửa</a> |
                    <a asp-action="DiscountsDetails" asp-route-id="@item.Id">Chi tiết</a> |
                    <a asp-action="DiscountsDelete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
